[run]
source =
    _delb
    delb

omit =
    delb/exceptions.py
    delb/nodes.py
    delb/typing.py
    delb/utils.py

[report]
exclude_lines =
    def __repr__
    if TYPE_CHECKING:
    pass
    pragma: no cover
    raise InvalidCodePath
    raise NotImplementedError
    raise TypeError
    raise ValueError
fail_under = 95
