[run]
source = delb

[report]
exclude_lines =
    def __repr__
    if TYPE_CHECKING:
    pass
    pragma: no cover
    raise InvalidCodePath
    raise NotImplementedError
    raise ValueError\(f"A TextNode\._position
fail_under = 96
