---

cff-version: 1.2.0
type: software
message: 🔥🌍🔥
title: delb
authors:
  - family-names: Sachsenheim
    given-names: Frank
license: AGPL-3.0
version: _VERSION_
repository-code: "https://github.com/delb-py/delb"
date-released: _DATE_

...
