[build-system]
requires = ["poetry>=0.12.15"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "delb"
version = "0.1b3"
description = "A library that provides an ergonomic model for XML encoded text documents (e.g. with TEI-XML)."
authors = ["Frank Sachsenheim <funkyfuture@riseup.net>"]
license = "AGPL-3.0"
readme = "README.rst"
documentation = "https://delb.readthedocs.io/"
repository = "https://github.com/funkyfuture/delb"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Natural Language :: English",
    "Topic :: Text Processing :: Markup :: XML",
]
keywords = ["xml", "markup", "text processing"]  # TODO two more

[tool.poetry.dependencies]
python = ">=3.6"
cssselect = "*"
lxml = "*"
requests = {version = "^2.21",optional = true}

[tool.poetry.extras]
https-loader = ["requests"]

[tool.poetry.dev-dependencies]
black = "^19.3b0"
flake8-black = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
sphinx = "*"
sphinxcontrib-fulltoc = "*"
sphinx-readable-theme = "^1.3"
typing-extensions = "*"
xmldiff = "^2.2"
