---

name: Check documentation's hyperlinks

on:
  schedule:
    - cron: "41 2 5 */3 *"

jobs:
  linkcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - run: pipx run hatch run docs:linkcheck

...
