cff-version: 1.2.0
type: software
message: >
  If you cite this software, please use these metadata.
title: delb
authors:
  - family-names: Sachsenheim
    given-names: Frank
    email: funkyfuture@riseup.net
license: AGPL-3.0
version: "{{ release_tag }}"
repository-code: "https://github.com/funkyfuture/delb"
date-released: "{{ release_date }}"
#  vim: set ts=2 sw=2 tw=500 et ft=yaml :
